/*CSS DOCUMENT*/

body{
	padding: 3%;
	background-image:url("darkMatte.jpg");
	background-repeat: round repeat;
}

.container{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: auto auto;
}

header{
	grid-column: 1/4;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}

.logo {
	width: 100%;
	max-height: 20em;
	max-width: 18em;
}

.nav{
	display: ;
	list-style-type: none;
	font-family: almaq-rough, sans-serif;
	font-size: 200%;
}

a{
	color: #FFFFFF;
	text-decoration: none;
	max-height: 20em;
}

main{
	grid-column: 1/4;
	font-family: almaq-rough, sans-serif;
	color: #FFFFFF;
}

img{
	width: 100%;
	padding-top: 1em;
}

.list{
	list-style-type: none;
}

.product{
	margin-bottom: 0.2em;
}

.last{
	padding-bottom: 2em;
}

h3{
	padding-top: 1em;
	font-size: 1.5em;
}

h4{
	font-size: 1.1em;
}

@media screen and (min-width: 45em){
	.container{
		display: grid;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto auto;		
	}
	
	.nav{
		list-style-type: none;
		font-family: almaq-rough, sans-serif;
		font-size: 400%;
	}
	

}
