/*CSS DOCUMENT*/


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

img {
    width: 100%; /*Please leave this line.*/
}

header{
	margin-top: 2em;
	margin-right: 5%;
	margin-left: 5%;
	color: rgba(121,0,2,1.00);
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

h1{
	font-size: 3em;
	line-height: 110%;
	padding-bottom: 0.3em;
}

h2{
	font-size: 1.2em;
	line-height: 200%;
	padding-bottom: 1.5em;
}

figcaption{
	font-size: 1.2em;
	font-weight: 1000;
	color: rgba(121,0,2,1.00);
	margin-top: 2em;
	margin-right: 10%;
	margin-bottom: 2em;
	margin-left: 10%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

h3{
	font-style: italic;
	color: rgba(121,0,2,1.00);
}

.ingredients{
	margin-top: 2em;
	margin-right: 15%;
	margin-left: 15%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 1000;
}

.directions{
	margin-top: 2em;
	margin-right: 15%;
	margin-left: 15%;
	padding-bottom: 5em;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 1000;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1.2em;
	text-align: center;
	background-color: rgba(121,0,2,0.90);
	padding: 0.4em;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
